<!doctype html>

<!--5. DONE Import AngularJS into your project and place a `<script>` tag right before the `</body>` tag.-->
<!--6. DONE Declare `ng-app` either on the `html` or the `body` element. Name your app `ShoppingListCheckOff`.-->
<!--7. DONE Create `app.js` in your project and declare an Angular module to match your `ng-app` declaration.-->
<!--8. Go back to `index.html` and declare 2 controllers using `controller as` syntax. One controller should be
called `ToBuyController` and the other called `AlreadyBoughtController`. You are *required* to have 2 controllers for this assignment.-->

<!--9. You will obviously need to share data between these controllers. Go back to `app.js` and implement
this data sharing using the *singleton* approach with the `.service` declaration. Call the service `ShoppingListCheckOffService`.
Make sure to inject this service into both controllers so they can share data.
Also, realize that your service will have to keep track of both 'to buy' and 'bought' items at the same time.
(*While there is no one right way to accomplish this functionality, for this assignment, you are required to implement it as described.*)-->
<!--* (*Hint*) You can store 2 separate arrays in the service: one to hold "to buy" items and one to hold "bought" items.
The reference to the "to buy" array should be placed/exposed onto the `ToBuyController` instance as some property.
The reference to the "bought" items array should be placed/exposed onto the `AlreadyBoughtController` instance as some property.-->
<!--* (*Hint*) When the user clicks on the "Bought" button, simply pass the call from your (`ng-click`)
controller-bound method to call the right method inside of your `ShoppingListCheckOffService` service, which
removes that item from the "to buy" array and pushes it to the "bought" array.-->
<!--* (*Hint*) Your `ShoppingListCheckOffService` would also be the place where you would store the initial array of "to buy" items.-->

<!--10. To display and/or hide the messages when the list(s) are empty, use the `ng-if` directive.-->
<!--11. To loop over the items in either list use the `ng-repeat` directive.-->
<!--12. Make sure all of your Javascript code is inside of an IIFE. (*If you don't know what that is or why we'd want to use it, brush up on it by looking through module 4 of [HTML, CSS, and Javascript for Web Developers](https://www.coursera.org/learn/html-css-javascript-for-web-developers/) course I teach.*)-->
<!--13. Make sure all of your dependency injections are protected from minification.-->

<html lang="en" ng-app="ShoppingListCheckOff" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Shopping List Check Off</title>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .emptyMessage {
            font-weight: bold;
            color: red;
            font-size: 1.2em;
        }

        li {
            margin-bottom: 7px;
            font-size: 1.2em;
        }

        li > button {
            margin-left: 6px;
        }

        button > span {
            color: green;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Shopping List Check Off</h1>
    <div class="row">
        <!-- To Buy List -->
        <div class="col-md-6">
            <div ng-controller='ToBuyController as toBuyList'>
                <h2>To Buy:</h2>
                <ul>
                    <li ng-repeat="item in toBuyList.items">
                        {{ item.quantity }} of {{ item.name }}
                        <button ng-click="toBuyList.removeFromToBuy($index);">Bought</button>
                    </li>

                </ul>
                <!--<div class="emptyMessage">Everything is bought!</div>-->
                <div ng-show="toBuyList.allBought"> Everything is bought!</div>
            </div>
        </div>

        <!-- Already Bought List -->
        <div ng-controller='AlreadyBoughtController as alreadyBoughtList'>
            <div class="col-md-6">
                <h2>Already Bought:</h2>
                <li ng-repeat="item in alreadyBoughtList.items">
                    {{ item.quantity }} of {{ item.name }}
                </li>
                <div ng-show="alreadyBoughtList.someBought();"> Nothing bought yet.</div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
